[project]
	description = Official QEMU mirror. Please see http://wiki.qemu.org/Contribute/SubmitAPatch for how to submit changes to QEMU. Pull Requests are ignored. Please only use release tarballs from the QEMU website.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Sariel (davidsaOpenu)
[access "refs/for/refs/*"]
	read = group user/David Sariel (davidsaOpenu)
	push = group user/David Sariel (davidsaOpenu)
	label-Code-Review = -2..+2 group user/David Sariel (davidsaOpenu)
	label-Verified = -1..+1 group user/David Sariel (davidsaOpenu)
	rebase = group user/David Sariel (davidsaOpenu)
	removeReviewer = group user/David Sariel (davidsaOpenu)
	submit = group user/David Sariel (davidsaOpenu)
[access "refs/heads/*"]
	read = group user/David Sariel (davidsaOpenu)
	create = group user/David Sariel (davidsaOpenu)
	push = +force group user/David Sariel (davidsaOpenu)
	pushMerge = group user/David Sariel (davidsaOpenu)
[access "refs/tags/*"]
	push = group user/David Sariel (davidsaOpenu)
	push = +force group user/David Sariel (davidsaOpenu)
